body {
    background: salmon;
    color: gray;
}

h5 {
    color: salmon
}

#ficha {
    max-width: 800px;
    margin: 100px auto;
    border-radius: 5px;
}

.list-group-item.active {
    background-color: salmon;
    border: salmon 1px solid;
}

#title {
    background: whitesmoke ;
    padding: 10px 30px 10px 30px ;
    color: salmon;
    font-weight: 800;

}

#ficha h1 {
    text-transform: uppercase;
    font-size: 18px;
}

.list-group-item.active {
    background-color: '';
    border: ''
}

.btn01 {
    background-color: salmon;
    border: salmon;
    color: whitesmoke;

}

.btn01:hover {
    background-color: salmon;
    opacity: 0.8;
    border: salmon;
    color: white;
}

#painel {
    padding: 0;
    background-color: whitesmoke
}

.tab-content>.active {
    padding: 30px 10px;
}

.list-group {
    border-radius: 0;
}

#color {
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 30px;
top: 40;
    display: flow-root;
    right: 0;
    border: 2px dotted whitesmoke;
}


#color h5 {
    color: whitesmoke;
}
.verde {
    background-color: crimson;
}

.verde:hover {
    background-color: crimson;
}

.nights:hover {
    background-color: #221f3b;
}

.nights {
    background-color: #221f3b;
}

.coral {
    background-color: salmon;

}

.coral:hover {
    background-color: salmon;

}

.card {
    margin-top: 30px;
    border-radius: 10px;;
    margin: 10px 30px ;
    background-color: antiquewhite

    }

    #resultado {
        background-color: white;
    }
