body {
    background: #333;
    color: white;
}

#ficha {
    background-color: #444;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 5px;
}

.list-group-item.active {
    background-color: #333;
    border: #333 1px solid;
    color: white;
}
    

#title {
    background: #444 ;
    padding-top: 10px ;
    color: ghostwhite;
    font-weight: 800;

}

#ficha h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
}

.list-group-item {
    background-color: dimgray;
    border: dimgray;
    color: whitesmoke
}

.list-group-item:hover {
    background-color: dimgrey;
    color: whitesmoke;
}

.btn01 {
    background-color: dimgray;
    border: dimgray;
    color: white

}

.btn01:hover {
    background-color: #333;
    border: #333;
    color: white;
}

#painel {
    padding: 0;
}

.tab-content>.active {
    padding: 30px 10px;
}

.list-group {
    border-radius: 0;
}

#color {
    margin: 0;
    text-align: center;
}

.verde {
    background-color: cadetblue;
}

.verde:hover {
    background-color: cadetblue;
}

.nights:hover {
    background-color: dimgrey;
}

.nights {
    background-color: dimgrey;
}

.coral {
    background-color: salmon;

}

.coral:hover {
    background-color: salmon;

}